.nav-link {
  color: black;
}

.nav-link.active {
  color: white;
}

.nav-link::before {
  content: "📒";
}

.nav-link[aria-selected="true"]::before {
  content: "📖";
}

.nav-link:nth-child(even)::before {
  content: "🔒";
}

.nav-link:nth-child(even)[aria-selected="true"]::before {
  content: "🔓";
}

.tab-content {
  background-image: url(https://baitapham.vercel.app/img/corner-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
